# six-1.16.0
# pip install torch==2.2.0 torchvision==0.17.0 torchaudio==2.2.0 --index-url https://download.pytorch.org/whl/cu121
#
torch~=2.2.0+cu121
numpy~=1.24.1
six~=1.16.0
tqdm~=4.65.0
packaging~=24.0
argparse~=1.4.0